/*==========================
tab rotate
===========================*/
@media (min-width: 992px) and (max-width: 1200px) {
.menu ul li {
margin-right: 5px;
}
.footer-content p {
font-size: 20px;
}
.header-area .menu ul li a {
font-size: 12px;
}
.menu ul li a {
font-size: 20px;
}
}
/*==========================
tab device
===========================*/
@media (min-width: 768px) and (max-width: 991px) {
.menu ul li {
margin-right: 7px;
}
.menu ul li a {
font-size: 16px;
}
.header-area .menu ul li a {
	font-size: 10px;
}
}
/*==========================
small device /mobile sm and large
===========================*/
@media (max-width: 767px) {
.menu ul li {
margin-right: 0px;
}
.menu ul li a {
font-size: 13px;
}
.testiomonial-text {
margin-bottom: 50px;
}
.medicine:after, .mission:after {
width: 100%;
}
.header-area .menu ul li a {
	font-size: 10px;
}
}